{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{%- block field %}
    <ul>
        {% for data in value %}
            <li>
                <strong>{{ data.name ? data.name : '' }}</strong>
            </li>
            <li>
                <a href="{{ data.url ? data.url : '#' }}" target="_blank">{{ data.url ? data.url : '' }}</a>
            </li>
            <br>
        {% endfor %}
    </ul>
{% endblock -%}




